registry=https://registry.npmjs.org/
@ctt-library:registry=https://pkgs.dev.azure.com/CTT-SOT/_packaging/front-libraries/npm/registry/
always-auth=true

//pkgs.dev.azure.com/CTT-SOT/_packaging/front-libraries/npm/registry/:_authToken=${AZURE_NPM_TOKEN}
//pkgs.dev.azure.com/CTT-SOT/_packaging/front-libraries/npm/:_authToken=${AZURE_NPM_TOKEN}
